@import "normalize.css/normalize";
@import url(https://fonts.googleapis.com/icon?family=Material+Icons);
@import url(https://fonts.googleapis.com/css?family=Roboto:400,700,400italic,700italic&subset=cyrillic,latin);

body{
	font-family: "Roboto", "Helvetica", sans-serif;
}
button{
	border: none;
	background: transparent;
	line-height: 0;
	padding: 0;
}
