@import "normalize.css/normalize";
@import url(https://fonts.googleapis.com/icon?family=Material+Icons);
@import url(https://fonts.googleapis.com/css?family=Roboto:400,700,400italic,700italic&subset=cyrillic,latin);

body{
	font-family: "Roboto", "Helvetica", sans-serif;
}
button{
	border: none;
	background: transparent;
	line-height: 0;
	padding: 0;
}
h2{
	margin: 0;
	font-size: 20px;
	font-weight: normal;
}
.action-button{
	width: 45px;
	height: 45px;
}
.header{
	display: flex;
	flex-direction: row;
	align-items: center;
	box-shadow: 0 0px 5px rgba(0, 0, 0, 0.6);
}
.header-title{
	flex: 1;
	padding: 0.8em 0.5em;
}
